/* MAIN STYLESHEET */
/* @import url('https://fonts.googleapis.com/css2?family=BioRhyme:wght@300;700&display=swap'); */

*,
*::before,
*::after {
  box-sizing:border-box;
  font-family: 'Source Sans Pro', 'Droid Arabic Kufi', serif;
  text-align:center
}
.clearfix {
  display:block;
  clear:both;
}
html {
  font-size:10px;
}

body {
  margin:0;
  font-size:1.8rem;
  background:radial-gradient(at top left, #232526, #3D4347)
}

main {
  width:1024px;
  margin:0 auto;
}

main h1 {
  margin:5rem 0 10rem 0;
  font-size:3.2rem;
  color:#ff9800;
  font-family: 'BioRhyme', serif;
  font-weight:800;
}
main .heading {
  padding-top:4rem;
  margin:0 0 2.5rem 0;
  font-size:3rem;
  color:#ff9800;
  font-family: 'BioRhyme', serif;
  font-weight:800;
}
main .category {
  margin:0 0 3rem 0;
  color:#4AAE52;
  font-size:2.4rem;
  font-family: 'BioRhyme', serif;
  font-weight:800
}

main ul {
  margin:0 0 4rem 0;
  list-style-type: none;
  padding:0
}
main ul.top-picks {
  margin-bottom:10rem;
  counter-reset:topCount;
}
main ul li {
  display:inline-block;
  background-color:#fefefe;
  cursor:default;
  user-select:none;
  position:relative;
  font-size:1.9rem;
}
main ul li.top {
  height:8rem;
  padding:0 2.5rem 0 13rem;
  margin:0 .4rem 4rem 0;
  border-radius:3rem;
  line-height:8rem;
}
main ul li.other {
  border-radius:3rem;
  line-height:6.5rem;
  padding:0 1.5rem 0 7rem;
  margin:0 .8rem 2rem 0;
  position:relative
}
main ul li.other img {
  width:5rem;
  border-radius:50%;
  position:absolute;
  top:.75rem;
  left:1rem;
}
main ul li.top::before {
  z-index:3;
  display:inline-block;
  position:absolute;
  top:-3rem;
  left:10rem;
  line-height:1;
  font-size:3rem;
  color:#ff9800;
  counter-increment:topCount;
  content:'#' counter(topCount);
}

main ul li.mkbhd {
  margin-bottom:8rem;
  margin-left:37rem;
  float:left;
}
main ul li.ltt {
  margin-bottom:0rem;
  margin-left:22rem;
  float:left;
}
main ul li.pewdiepie {
  margin-right:22rem;
  float:right;
}
main ul li.top img {
  display:inline-block;
  width:14rem;
  position:absolute;
  top:-3rem;
  left:-3rem;
  border-radius:50%;
  margin-right:1rem;
  box-shadow:0 3px 6px rgba(40,40,40,.8)
}

main ul.top-picks .full-list {
  display:block;
  width:4rem;
  height:6rem;
  background-color:#ff9800;
  border-radius:2rem;
  margin:5rem auto;
  border:none;
  padding:1.5rem 2rem;
  cursor:pointer;
  outline:none;
  position:relative;
  animation:translateScrollWheel 1s;
  transition:transform .4s ease-in-out;
  box-shadow:0 3px 6px rgba(40,40,40,.8)
}
main ul.top-picks .full-list::before,
main ul.top-picks .full-list::after {
  content:'\f078';
  display:inline-block;
  width:4rem;
  text-align:center;
  position:absolute;
  left:0;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  font-size:2.4rem;
  opacity:0!important;
  color:#ff9800;
  animation:scrollwheel1 1.5s 0;
}
main ul.top-picks .full-list::before {
  bottom:-2.6rem;
}
main ul.top-picks .full-list::after {
  bottom:-3.6rem;
  animation-delay:.1s
}
main ul.top-picks .full-list:hover::before,
main ul.top-picks .full-list:hover::after  {
  opacity:1!important;
  animation-iteration-count:infinite;
}
main .scroll-top {
  display:block;
  width:6rem;
  height:6rem;
  background-color:#ff9800;
  border-radius:3.5rem;
  border:none;
  cursor:pointer;
  position:fixed;
  right:5rem;
  bottom:4rem;
  box-shadow:0 3px 6px rgba(40,40,40,.8);
  opacity:0;
  transition: opacity .3s;
  z-index: -1;
}
main .scroll-top.show {
  opacity:1;
  z-index:3;
}
main .scroll-top::after {
  content:'\f077';
  display:inline-block;
  width:6rem;
  text-align:center;
  position:absolute;
  left:0;
  text-align:center;
  top:0rem;
  line-height:6rem;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  font-size:2.4rem;
  color:#000;
}

main ul.top-picks .full-list:hover {
  transform:translateY(-.4rem);
}
main ul.top-picks .full-list:hover .scrollwheelpointer {
  animation-iteration-count:0;
}
main ul.top-picks .full-list .scrollwheelpointer {
  width:.4rem;
  height:1rem;
  background-color:#232526;
  border-radius:.2rem;
  position:absolute;
  top:1rem;
  left:1.8rem;
  animation:scrollwheel 1.4s infinite;
}
@keyframes translateScrollWheel  {
  0% {
    transform:translateY(-1rem);
    opacity:.7;
  }
  100% {
    transform:translateY(0);
    opacity:1;
  }
}
@keyframes scrollwheel  {
  0% {
    transform:translateY(0);
    opacity:1;
  }
  15% {
    transform:translateY(0);
    opacity:1;
  }
  100% {
    transform:translateY(1rem);
    opacity:0;
  }
}
@keyframes scrollwheel1  {
  0% {
    transform:translateY(0);
    opacity:1;
  }
  100% {
    transform:translateY(.6rem);
    opacity:0;
  }
}
